# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# IDEA files
/.idea/
/out/
/*.iml

# Storage/log files
/data/
/config.json
/preferences.json
/*.log.*
hs_err_pid[0-9]*.log

# Test sandbox files
src/test/data/sandbox/

# MacOS custom attributes files created by Finder
.DS_Store
docs/_site/

# VSCode files
.vscode/

bin/main/seedu/address/logic/commands/AddCommand.class
bin/test/seedu/address/logic/commands/AddCommandIntegrationTest.class
bin/main/seedu/address/logic/parser/AddCommandParser.class
bin/test/seedu/address/logic/parser/AddCommandParserTest.class
bin/test/seedu/address/logic/commands/AddCommandTest$ModelStub.class
bin/test/seedu/address/logic/commands/AddCommandTest$ModelStubAcceptingPatientAdded.class
bin/test/seedu/address/logic/commands/AddCommandTest$ModelStubWithPatient.class
bin/test/seedu/address/logic/commands/AddCommandTest.class
bin/main/seedu/address/logic/commands/AddFCommand.class
bin/test/seedu/address/logic/commands/AddFCommandIntegrationTest.class
bin/main/seedu/address/logic/parser/AddFCommandParser.class
bin/test/seedu/address/logic/parser/AddFCommandParserTest.class
bin/test/seedu/address/logic/commands/AddFCommandTest$ModelStub.class
bin/test/seedu/address/logic/commands/AddFCommandTest$ModelStubWithOnlyOnePatient.class
bin/test/seedu/address/logic/commands/AddFCommandTest.class
bin/main/seedu/address/model/patient/Address.class
bin/test/seedu/address/model/patient/AddressTest.class
bin/main/seedu/address/model/patient/Allergy$1.class
bin/main/seedu/address/model/patient/Allergy.class
bin/main/seedu/address/model/patient/exceptions/AllergyAlreadyExistsException.class
bin/main/seedu/address/model/patient/AllergyList.class
bin/main/seedu/address/model/patient/exceptions/AllergyNotFoundException.class
bin/main/seedu/address/model/AllergySorter.class
bin/test/seedu/address/model/patient/AllergyTest.class
bin/main/seedu/address/model/appointmentdatefilter/AppointmentDateFilter.class
bin/main/seedu/address/AppParameters.class
bin/test/seedu/address/AppParametersTest$ParametersStub.class
bin/test/seedu/address/AppParametersTest.class
bin/main/seedu/address/model/patient/Appt$1.class
bin/main/seedu/address/model/patient/Appt.class
bin/main/seedu/address/model/patient/ApptList.class
bin/main/seedu/address/model/ApptSorter.class
bin/main/seedu/address/commons/util/AppUtil.class
bin/test/seedu/address/commons/util/AppUtilTest.class
bin/main/seedu/address/logic/parser/ArgumentMultimap.class
bin/main/seedu/address/logic/parser/ArgumentTokenizer$PrefixPosition.class
bin/main/seedu/address/logic/parser/ArgumentTokenizer.class
bin/test/seedu/address/logic/parser/ArgumentTokenizerTest.class
bin/test/seedu/address/testutil/Assert.class
bin/main/seedu/address/model/patient/Birthdate.class
bin/main/seedu/address/model/patient/BloodType.class
bin/test/seedu/address/model/patient/BloodTypeTest.class
bin/main/seedu/address/logic/commands/BookApptCommand.class
bin/main/seedu/address/logic/parser/BookApptCommandParser.class
bin/main/images/calendar.png
bin/main/seedu/address/logic/commands/ClearCommand.class
bin/test/seedu/address/logic/commands/ClearCommandTest.class
bin/main/images/clinic_connect_system_32.png
bin/main/seedu/address/model/ClinicConnectSystem.class
bin/test/seedu/address/testutil/ClinicConnectSystemBuilder.class
bin/main/seedu/address/logic/parser/ClinicConnectSystemParser.class
bin/test/seedu/address/logic/parser/ClinicConnectSystemParserTest.class
bin/main/seedu/address/storage/ClinicConnectSystemStorage.class
bin/test/seedu/address/model/ClinicConnectSystemTest$ClinicConnectSystemStub.class
bin/test/seedu/address/model/ClinicConnectSystemTest.class
bin/main/seedu/address/logic/parser/CliSyntax.class
bin/main/images/clock.png
bin/main/seedu/address/commons/util/CollectionUtil.class
bin/test/seedu/address/commons/util/CollectionUtilTest.class
bin/main/seedu/address/logic/commands/Command.class
bin/main/seedu/address/ui/CommandBox$CommandExecutor.class
bin/main/seedu/address/ui/CommandBox.class
bin/main/view/CommandBox.fxml
bin/main/seedu/address/logic/commands/exceptions/CommandException.class
bin/main/seedu/address/logic/commands/CommandKeywords.class
bin/test/seedu/address/logic/parser/CommandParserTestUtil.class
bin/main/seedu/address/logic/commands/CommandResult.class
bin/test/seedu/address/logic/commands/CommandResultTest.class
bin/test/seedu/address/logic/commands/CommandTestUtil.class
bin/main/seedu/address/commons/core/Config.class
bin/test/seedu/address/commons/core/ConfigTest.class
bin/main/seedu/address/commons/util/ConfigUtil.class
bin/test/seedu/address/commons/util/ConfigUtilTest.class
bin/main/view/DarkTheme.css
bin/main/seedu/address/commons/exceptions/DataLoadingException.class
bin/main/seedu/address/logic/commands/DeleteApptCommand.class
bin/main/seedu/address/logic/parser/DeleteApptCommandParser.class
bin/main/seedu/address/logic/commands/DeleteCommand.class
bin/main/seedu/address/logic/parser/DeleteCommandParser.class
bin/test/seedu/address/logic/parser/DeleteCommandParserTest.class
bin/test/seedu/address/logic/commands/DeleteCommandTest.class
bin/main/seedu/address/model/patient/exceptions/DuplicatePatientException.class
bin/main/seedu/address/logic/commands/EditCommand$EditPatientDescriptor.class
bin/main/seedu/address/logic/commands/EditCommand.class
bin/main/seedu/address/logic/parser/EditCommandParser.class
bin/test/seedu/address/logic/parser/EditCommandParserTest.class
bin/test/seedu/address/logic/commands/EditCommandTest.class
bin/test/seedu/address/testutil/EditPatientDescriptorBuilder.class
bin/test/seedu/address/logic/commands/EditPatientDescriptorTest.class
bin/main/seedu/address/model/patient/Email.class
bin/test/seedu/address/model/patient/EmailTest.class
bin/main/seedu/address/model/patient/ExistingCondition.class
bin/test/seedu/address/model/patient/ExistingConditionTest.class
bin/main/seedu/address/logic/commands/ExitCommand.class
bin/test/seedu/address/logic/commands/ExitCommandTest.class
bin/main/view/Extensions.css
bin/main/images/fail.png
bin/main/seedu/address/commons/util/FileUtil.class
bin/test/seedu/address/commons/util/FileUtilTest.class
bin/main/seedu/address/logic/commands/FilterCommand.class
bin/main/seedu/address/logic/parser/FilterCommandParser.class
bin/test/seedu/address/logic/commands/FilterCommandTest.class
bin/main/seedu/address/model/filteredappointment/FilteredAppointment$1.class
bin/main/seedu/address/model/filteredappointment/FilteredAppointment.class
bin/main/seedu/address/ui/FilteredApptCard.class
bin/main/view/FilteredApptListCard.fxml
bin/main/seedu/address/ui/FilteredApptListPanel$FilteredApptListViewCell.class
bin/main/seedu/address/ui/FilteredApptListPanel.class
bin/main/view/FilteredApptListPanel.fxml
bin/main/seedu/address/logic/commands/FindCommand.class
bin/main/seedu/address/logic/parser/FindCommandParser.class
bin/test/seedu/address/logic/parser/FindCommandParserTest.class
bin/test/seedu/address/logic/commands/FindCommandTest.class
bin/main/seedu/address/commons/core/GuiSettings.class
bin/test/seedu/address/commons/core/GuiSettingsTest.class
bin/main/seedu/address/model/patient/HealthRisk$Priority.class
bin/main/seedu/address/model/patient/HealthRisk.class
bin/test/seedu/address/model/patient/HealthRiskTest.class
bin/main/seedu/address/model/healthservice/HealthService$HealthScreeningServices.class
bin/main/seedu/address/model/healthservice/HealthService.class
bin/main/images/help_icon.png
bin/main/seedu/address/logic/commands/HelpCommand.class
bin/main/seedu/address/logic/parser/HelpCommandParser.class
bin/test/seedu/address/logic/parser/HelpCommandParserTest.class
bin/test/seedu/address/logic/commands/HelpCommandTest.class
bin/main/seedu/address/ui/HelpKeywordWindow.class
bin/main/view/HelpKeywordWindow.css
bin/main/view/HelpKeywordWindow.fxml
bin/main/seedu/address/ui/HelpWindow.class
bin/main/view/HelpWindow.css
bin/main/view/HelpWindow.fxml
bin/main/seedu/address/logic/commands/HomeCommand.class
bin/test/seedu/address/logic/commands/HomeCommandTest.class
bin/main/seedu/address/commons/exceptions/IllegalValueException.class
bin/main/seedu/address/commons/core/index/Index.class
bin/test/seedu/address/commons/core/index/IndexTest.class
bin/main/images/info_icon.png
bin/test/view/UiPartTest/invalidFile.fxml
bin/main/seedu/address/storage/JsonAdaptedAllergy.class
bin/main/seedu/address/storage/JsonAdaptedAppt.class
bin/main/seedu/address/storage/JsonAdaptedHealthService.class
bin/main/seedu/address/storage/JsonAdaptedPatient.class
bin/test/seedu/address/storage/JsonAdaptedPatientTest.class
bin/main/seedu/address/storage/JsonAdaptedTag.class
bin/main/seedu/address/storage/JsonClinicConnectSystemStorage.class
bin/test/seedu/address/storage/JsonClinicConnectSystemStorageTest.class
bin/main/seedu/address/storage/JsonSerializableClinicConnectSystem.class
bin/test/seedu/address/storage/JsonSerializableClinicConnectSystemTest.class
bin/main/seedu/address/storage/JsonUserPrefsStorage.class
bin/test/seedu/address/storage/JsonUserPrefsStorageTest.class
bin/main/seedu/address/commons/util/JsonUtil$LevelDeserializer.class
bin/main/seedu/address/commons/util/JsonUtil.class
bin/test/seedu/address/commons/util/JsonUtilTest.class
bin/main/seedu/address/logic/Logic.class
bin/main/seedu/address/logic/LogicManager.class
bin/test/seedu/address/logic/LogicManagerTest$1.class
bin/test/seedu/address/logic/LogicManagerTest.class
bin/main/seedu/address/commons/core/LogsCenter.class
bin/main/seedu/address/Main.class
bin/main/seedu/address/MainApp.class
bin/main/seedu/address/ui/MainWindow.class
bin/main/view/MainWindow.fxml
bin/main/seedu/address/logic/Messages.class
bin/main/seedu/address/model/Model.class
bin/main/seedu/address/model/ModelManager.class
bin/test/seedu/address/model/ModelManagerTest.class
bin/main/seedu/address/model/patient/Name.class
bin/main/seedu/address/model/patient/NameContainsKeywordsPredicate.class
bin/test/seedu/address/model/patient/NameContainsKeywordsPredicateTest.class
bin/test/seedu/address/model/patient/NameTest.class
bin/main/seedu/address/model/patient/Note.class
bin/test/seedu/address/model/patient/NoteTest.class
bin/main/seedu/address/model/patient/Nric.class
bin/main/seedu/address/logic/parser/exceptions/ParseException.class
bin/main/seedu/address/logic/parser/Parser.class
bin/main/seedu/address/logic/parser/ParserUtil.class
bin/test/seedu/address/logic/parser/ParserUtilTest.class
bin/main/seedu/address/model/patient/Patient.class
bin/test/seedu/address/testutil/PatientBuilder.class
bin/main/seedu/address/ui/PatientCard.class
bin/main/seedu/address/ui/PatientInfoPanel.class
bin/main/view/PatientInfoPanel.fxml
bin/main/view/PatientListCard.fxml
bin/main/seedu/address/ui/PatientListPanel$PatientListViewCell.class
bin/main/seedu/address/ui/PatientListPanel.class
bin/main/view/PatientListPanel.fxml
bin/main/seedu/address/model/patient/exceptions/PatientNotFoundException.class
bin/test/seedu/address/model/patient/PatientTest.class
bin/test/seedu/address/testutil/PatientUtil.class
bin/main/seedu/address/model/patient/Phone.class
bin/test/seedu/address/model/patient/PhoneTest.class
bin/main/seedu/address/logic/parser/Prefix.class
bin/main/seedu/address/model/ReadOnlyClinicConnectSystem.class
bin/main/seedu/address/model/ReadOnlyUserPrefs.class
bin/main/seedu/address/ui/ResultDisplay.class
bin/main/view/ResultDisplay.fxml
bin/main/seedu/address/model/util/SampleDataUtil.class
bin/test/seedu/address/testutil/SerializableTestClass.class
bin/main/seedu/address/model/patient/Sex.class
bin/main/seedu/address/ui/StatusBarFooter.class
bin/main/view/StatusBarFooter.fxml
bin/main/seedu/address/storage/Storage.class
bin/main/seedu/address/storage/StorageManager.class
bin/test/seedu/address/storage/StorageManagerTest.class
bin/main/seedu/address/commons/util/StringUtil.class
bin/test/seedu/address/commons/util/StringUtilTest.class
bin/main/seedu/address/model/tag/Tag.class
bin/test/seedu/address/model/tag/TagTest.class
bin/test/seedu/address/ui/TestFxmlObject.class
bin/test/seedu/address/testutil/TestUtil.class
bin/main/seedu/address/commons/util/ToStringBuilder.class
bin/test/seedu/address/testutil/TypicalIndexes.class
bin/test/seedu/address/testutil/TypicalPatients.class
bin/main/seedu/address/ui/Ui.class
bin/main/seedu/address/ui/UiManager.class
bin/main/seedu/address/ui/UiPart.class
bin/test/seedu/address/ui/UiPartTest$TestUiPart.class
bin/test/seedu/address/ui/UiPartTest.class
bin/main/seedu/address/model/patient/UniquePatientList.class
bin/test/seedu/address/model/patient/UniquePatientListTest.class
bin/main/seedu/address/model/UserPrefs.class
bin/main/seedu/address/storage/UserPrefsStorage.class
bin/test/seedu/address/model/UserPrefsTest.class
bin/test/view/UiPartTest/validFile.fxml
bin/test/view/UiPartTest/validFileWithFxRoot.fxml
bin/main/seedu/address/commons/core/Version.class
bin/test/seedu/address/commons/core/VersionTest.class
bin/main/images/view_icon.png
bin/main/seedu/address/logic/commands/ViewCommand.class
bin/main/seedu/address/logic/parser/ViewCommandParser.class
bin/test/seedu/address/logic/commands/ViewCommandTest.class
bin/main/seedu/address/logic/commands/commandresult/CommandResult.class
bin/main/seedu/address/logic/commands/commandresult/DefaultCommandResult.class
bin/main/seedu/address/logic/commands/commandresult/ExitCommandResult.class
bin/main/seedu/address/logic/commands/commandresult/KeywordCommandResult.class
bin/main/seedu/address/logic/commands/commandresult/ShowFilteredApptsCommandResult.class
bin/main/seedu/address/logic/commands/commandresult/ShowPatientInfoCommandResult.class
