/** Container containing all the cards **/
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-border-width: 1;
}

.list-cell:filled:even {
    -fx-background-color: #3c3e3f;
    -fx-border-color: #3c3e3f;
    -fx-border-width: 1;
}

.list-cell:filled:odd {
    -fx-background-color: #515658;
    -fx-border-color: #515658;
    -fx-border-width: 1;
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: white;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

/** Styling for Tier Tag/Label **/
#assignedTier .label, #assignedStatus .label {
    -fx-padding: 3 6 4 6;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

/* Colors for tiers */
#assignedTier .gold-tier {
    -fx-background-color: #B59410;
    -fx-text-fill: #1A1A1A;
}

#assignedTier .silver-tier {
    -fx-background-color: #C0C0C0;
    -fx-text-fill: #1A1A1A;
}

#assignedTier .bronze-tier {
    -fx-background-color:  #804a00;
    -fx-text-fill: white;
}

#assignedTier .reject-tier {
    -fx-background-color: #5C0002;
    -fx-text-fill: white;
}

/* Colors for statuses */
#assignedStatus .urgent-status {
    -fx-background-color: #B22222;
    -fx-text-fill: white;
}

#assignedStatus .nonUrgent-status {
    -fx-background-color: #C46210;
    -fx-text-fill: white;
}
