/* Colors for tiers */
.gold-tier {
    -fx-background-color: #B59410;
    -fx-text-fill: #1A1A1A;;
}

.silver-tier {
    -fx-background-color: var(-silver-tier-color);
    -fx-text-fill: #1A1A1A;
}

.bronze-tier {
    -fx-background-color:  #804a00;
    -fx-text-fill: white;

}

.reject-tier {
    -fx-background-color: #5C0002;
    -fx-text-fill: white;
}

/* Colors for statuses */
.urgent-status {
    -fx-background-color: #C46210;
    -fx-text-fill: white;
}

.nonUrgent-status {
    -fx-background-color: #B22222;
    -fx-text-fill: white;
}