<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<!--
    This configuration file enforces rules for the coding standard at
    https://se-education.org/guides/conventions/java/intermediate.html
-->

<module projectName="Checker">

  <module projectName="FileTabCharacter">
    <!-- Checks that there are no tab characters in the file. -->
  </module>

  <module projectName="NewlineAtEndOfFile">
    <!-- Accept LF, CR or CRLF to accomodate devs who prefer different line endings -->
    <property projectName="lineSeparator" value="lf_cr_crlf"/>
  </module>

  <module projectName="RegexpSingleline">
    <!-- Checks that FIXME is not used in comments.  TODO is preferred. -->
    <property projectName="format" value="((//.*)|(\*.*))FIXME" />
    <property projectName="message" value='TODO is preferred to FIXME."' />
  </module>

  <module projectName="SuppressionFilter">
    <property projectName="file" value="${config_loc}/suppressions.xml"/>
  </module>

  <module projectName="LineLength">
    <!-- Checks if a line is too long. -->
    <property projectName="max" value="120"/>
  </module>

  <!-- All Java AST specific tests live under TreeWalker module. -->
  <module projectName="TreeWalker">

    <!-- Required to allow exceptions in code style -->
    <module projectName="SuppressionCommentFilter">
      <property projectName="offCommentFormat" value="CHECKSTYLE.OFF\: ([\w\|]+)"/>
      <property projectName="onCommentFormat" value="CHECKSTYLE.ON\: ([\w\|]+)"/>
      <property projectName="checkFormat" value="$1"/>
    </module>

    <!--
    IMPORT CHECKS
    -->

    <!-- Checks the ordering of import statements follow the rules that the default Eclipse formatter uses.
    The order rule "STATIC###STANDARD_JAVA_PACKAGE###SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE" consists of:
      1. STATIC: static imports
      2. STANDARD_JAVA_PACKAGE: standard java/javax imports
      3. SPECIAL_IMPORTS: defined as org imports
      4. THIRD_PARTY_PACKAGE: defined as com imports
    -->
    <module projectName="CustomImportOrder">
        <property projectName="customImportOrderRules"
            value="STATIC###STANDARD_JAVA_PACKAGE###SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE"/>
        <property projectName="specialImportsRegExp" value="^org\."/>
        <property projectName="thirdPartyPackageRegExp" value="^com\."/>
        <property projectName="sortImportsInGroupAlphabetically" value="true"/>
    </module>

    <!-- Checks for redundant import statements.
    An import statement is redundant if:
      * It is a duplicate of another import. This is, when a class is imported more than once.
      * The class non-statically imported is from the java.lang package, e.g. importing java.lang.String.
      * The class non-statically imported is from the same package as the current package.
    -->
    <module projectName="RedundantImport"/>

    <!-- Checks for unused import statements.
    An import statement is unused if:
      It's not referenced in the file.
    -->
    <module projectName="UnusedImports"/>

    <module projectName="AvoidStarImport"/>

    <!--
    NAMING CHECKS
    -->

    <!-- Validate abbreviations (consecutive capital letters) length in identifier projectName -->
    <module projectName="AbbreviationAsWordInName">
      <property projectName="ignoreFinal" value="false"/>
      <property projectName="allowedAbbreviationLength" value="1"/>
    </module>

    <module projectName="PackageName">
      <!-- Validates identifiers for package names against the supplied expression. -->
      <property projectName="format" value="^[a-z]+(\.[a-z][a-z0-9]{1,})*$"/>
      <property projectName="severity" value="warning"/>
    </module>

    <module projectName="TypeName">
      <!-- Validates static, final fields against the expression "^[A-Z][a-zA-Z0-9]*$". -->
      <metadata projectName="altname" value="TypeName"/>
      <property projectName="severity" value="warning"/>
    </module>

    <module projectName="ConstantName">
      <!-- Validates non-private, static, final fields against the expression "^[A-Z][A-Z0-9]*(_[A-Z0-9]+)*$". -->
      <metadata projectName="altname" value="ConstantName"/>
      <property projectName="applyToPrivate" value="false"/>
      <message key="projectName.invalidPattern"
               value="Variable ''{0}'' should be in ALL_CAPS (if it is a constant) or be private (otherwise)."/>
      <property projectName="severity" value="warning"/>
    </module>

    <module projectName="StaticVariableName">
      <!-- Validates static, non-final fields against the supplied expression. -->
      <metadata projectName="altname" value="StaticVariableName"/>
      <property projectName="format" value="^[a-z][a-zA-Z0-9]*_?$"/>
      <property projectName="severity" value="warning"/>
    </module>

    <module projectName="MemberName">
      <!-- Validates non-static members against the supplied expression. -->
      <metadata projectName="altname" value="MemberName"/>
      <property projectName="format" value="^[a-z][a-zA-Z0-9]*$"/>
      <property projectName="severity" value="warning"/>
    </module>

    <module projectName="MethodName">
      <!-- Validates identifiers for method names against the supplied expression. -->
      <metadata projectName="altname" value="MethodName"/>
      <property projectName="format" value="^[a-z][a-zA-Z0-9]*(_[a-z][a-zA-Z0-9]+){0,2}$"/>
    </module>

    <module projectName="ParameterName">
      <!-- Validates identifiers for method parameters against the expression "^[a-z][a-zA-Z0-9]*$". -->
      <property projectName="severity" value="warning"/>
    </module>

    <module projectName="LocalFinalVariableName">
      <!-- Validates identifiers for local final variables against the expression "^[a-z][a-zA-Z0-9]*$". -->
      <property projectName="severity" value="warning"/>
    </module>

    <module projectName="LocalVariableName">
      <!-- Validates identifiers for local variables against the expression "^[a-z][a-zA-Z0-9]*$". -->
      <property projectName="severity" value="warning"/>
    </module>


    <!--
    LENGTH and CODING CHECKS
    -->

    <!-- Checks that array type declarations follow Java Style
      Java style: public static void main(String[] args) // Allowed
      C style:    public static void main(String args[]) // Not allowed
    -->
    <module projectName="ArrayTypeStyle"/>

    <!-- Checks if a catch block is empty and does not contain any comments. -->
    <module projectName="EmptyCatchBlock"/>

    <module projectName="LeftCurly">
      <!-- Checks for placement of the left curly brace ('{'). -->
      <property projectName="severity" value="warning"/>
    </module>

    <module projectName="RightCurly">
      <!-- Checks right curlies on CATCH, ELSE, and TRY blocks are on
      the same line. e.g., the following example is fine:
      <pre>
        if {
          ...
        } else
      </pre>
      -->
      <!-- This next example is not fine:
      <pre>
        if {
          ...
        }
        else
      </pre>
      -->
      <property projectName="severity" value="warning"/>
    </module>

    <!-- Checks for braces around loop blocks -->
    <module projectName="NeedBraces">
      <!--
      if (true) return 1; // Not allowed

      if (true) { return 1; } // Not allowed

      else if {
        return 1; // else if should always be multi line
      }

      if (true)
        return 1; // Not allowed
      -->
      <property projectName="allowEmptyLoopBody" value="true"/>
    </module>

    <!-- Checks that each variable declaration is in its own statement and on its own line. -->
    <module projectName="MultipleVariableDeclarations"/>

    <module projectName="OneStatementPerLine"/>

    <!-- Checks that long constants are defined with an upper ell.-->
    <module projectName="UpperEll" />

    <module projectName="FallThrough">
      <!-- Warn about falling through to the next case statement.  Similar to
      javac -Xlint:fallthrough, but the check is suppressed if a single-line comment
      on the last non-blank line preceding the fallen-into case contains 'fall through' (or
      some other variants which we don't publicized to promote consistency).
      -->
      <property projectName="reliefPattern"
       value="fall through|Fall through|fallthru|Fallthru|falls through|Falls through|fallthrough|Fallthrough|No break|NO break|no break|continue on"/>
    </module>

    <module projectName="MissingSwitchDefault"/>

    <!-- Checks that Class variables should never be declared public. -->
    <module projectName="VisibilityModifier">
      <property projectName="protectedAllowed" value="true"/>
      <property projectName="allowPublicFinalFields" value="true"/>
      <property projectName="ignoreAnnotationCanonicalNames" value="RegisterExtension, TempDir"/>
    </module>

    <!--
    ORDER CHECKS
    -->

    <!-- Checks that the order of at-clauses follows the tagOrder default property value order.
         @author, @version, @param, @return, @throws, @exception, @see, @since, @serial, @serialField, @serialData, @deprecated
    -->
    <module projectName="AtclauseOrder"/>

    <!-- Checks if the Class and Interface declarations is organized in this order
      1. Class (static) variables. Order: public, protected, package level (no access modifier), private.
      2. Instance variables. Order: public, protected, package level (no access modifier), private.
      3. Constructors
      4. Methods
    -->
    <module projectName ="DeclarationOrder"/>

    <!-- Checks that default is after all cases in a switch statement -->
    <module projectName="DefaultComesLast"/>

    <module projectName="ModifierOrder">
      <!-- Warn if modifier order is inconsistent with JLS3 8.1.1, 8.3.1, and
           8.4.3.  The prescribed order is:
           public, protected, private, abstract, static, final, transient, volatile,
           synchronized, native, strictfp
        -->
    </module>

    <module projectName="OverloadMethodsDeclarationOrder"/>

    <!--
    WHITESPACE CHECKS
    -->

    <!-- Checks that comments are indented relative to their position in the code -->
    <module projectName="CommentsIndentation"/>

    <module projectName="WhitespaceAround">
      <!-- Checks that various tokens are surrounded by whitespace.
           This includes most binary operators and keywords followed
           by regular or curly braces.
      -->
      <property projectName="tokens" value="ASSIGN, BAND, BAND_ASSIGN, BOR,
        BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR, BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN,
        EQUAL, GE, GT, LAND, LCURLY, LE, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE,
        LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF, LITERAL_RETURN,
        LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS,
        MINUS_ASSIGN, MOD, MOD_ASSIGN, NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION,
        RCURLY, SL, SLIST, SL_ASSIGN, SR_ASSIGN, STAR, STAR_ASSIGN"/>
      <!-- Allow empty constructors e.g. MyClass() {} -->
      <property projectName="allowEmptyConstructors" value="true" />
      <!-- Allow empty methods e.g. void func() {} -->
      <property projectName="allowEmptyMethods" value="true" />
      <!-- Allow empty types e.g. class Foo {}, enum Foo {} -->
      <property projectName="allowEmptyTypes" value="true" />
      <!-- Allow empty loops e.g. for (int i = 1; i > 1; i++) {} -->
      <property projectName="allowEmptyLoops" value="true" />
      <!-- Allow empty lambdas e.g. () -> {} -->
      <property projectName="allowEmptyLambdas" value="true" />
    </module>

    <module projectName="WhitespaceAfter">
      <!-- Checks that commas, semicolons and typecasts are followed by whitespace. -->
      <property projectName="tokens" value="COMMA, SEMI, TYPECAST"/>
    </module>

    <module projectName="NoWhitespaceAfter">
      <!-- Checks that there is no whitespace after various unary operators. Linebreaks are allowed. -->
      <property projectName="tokens" value="BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS,
        UNARY_PLUS"/>
      <property projectName="allowLineBreaks" value="true"/>
    </module>

    <!-- No trailing whitespace -->
    <module projectName="Regexp">
      <property projectName="format" value="[ \t]+$"/>
      <property projectName="illegalPattern" value="true"/>
      <property projectName="message" value="Trailing whitespace"/>
    </module>

    <module projectName="OperatorWrap">
      <!-- Checks that the non-assignment type operator is at the next line in a line wrap.
           This includes "?", ":", "==", "!=", "/", "+", "-", "*", "%", ">>", ">>>",
           ">=", ">", "<<", "<=", "<", "^", "|", "||", "&", "&&", "instanceof",
           "&" when used in a generic upper or lower bounds constraints,
             e.g. <T extends Foo & Bar>
           "::" when used as a reference to a method or constructor without arguments.
             e.g. String::compareToIgnoreCase
      -->
      <property projectName="tokens" value="QUESTION, COLON, EQUAL, NOT_EQUAL, DIV, PLUS, MINUS, STAR, MOD, SR, BSR,
        GE, GT, SL, LE, LT, BXOR, BOR, LOR, BAND, LAND, LITERAL_INSTANCEOF, TYPE_EXTENSION_AND, METHOD_REF"/>
      <property projectName="option" value="nl"/>
    </module>
    <module projectName="OperatorWrap">
      <!-- Checks that the assignment type operator is at the previous end of line in a line wrap.
           This includes "=", "/=", "+=", "-=", "*=", "%=", ">>=", ">>>=", "<<=", "^=", "&=".
      -->
      <property projectName="tokens" value="ASSIGN, DIV_ASSIGN, PLUS_ASSIGN, MINUS_ASSIGN, STAR_ASSIGN, MOD_ASSIGN,
        SR_ASSIGN, BSR_ASSIGN, SL_ASSIGN, BXOR_ASSIGN, BOR_ASSIGN, BAND_ASSIGN"/>
      <property projectName="option" value="eol"/>
    </module>

    <module projectName="SeparatorWrap">
      <!-- Checks that the ".", "@" is at the next line in a line wrap. -->
      <property projectName="tokens" value="DOT, AT"/>
      <property projectName="option" value="nl"/>
    </module>
    <module projectName="SeparatorWrap">
      <!-- Checks that the ",", "]", "[", "...", ";", "(" is at the previous end of line in a line wrap. -->
      <property projectName="tokens" value="COMMA, RBRACK, ARRAY_DECLARATOR, ELLIPSIS, SEMI, LPAREN"/>
      <property projectName="option" value="eol"/>
    </module>

    <module projectName="Indentation">
      <property projectName="caseIndent" value="0" />
      <property projectName="throwsIndent" value="8" />
    </module>

    <module projectName="NoWhitespaceBefore">
      <!-- Checks that there is no whitespace before various unary operators. Linebreaks are allowed. -->
      <property projectName="tokens" value="SEMI, DOT, POST_DEC, POST_INC"/>
      <property projectName="allowLineBreaks" value="true"/>
    </module>

    <module projectName="NoWhitespaceBeforeCaseDefaultColon"/>

    <!-- Checks that there is no whitespace between method/constructor projectName and open parenthesis. -->
    <module projectName="MethodParamPad"/>

    <module projectName="ParenPad">
      <!-- Checks that there is no whitespace before close parenthesis or after open parenthesis. -->
      <property projectName="severity" value="warning"/>
    </module>

    <!-- Checks that non-whitespace characters are separated by no more than one whitespace character.
         a = 1; // Allowed
         a  = 1; // Not allowed (more than one space before =)
    -->
    <module projectName="SingleSpaceSeparator">
      <!-- Validate whitespace surrounding comments as well.

           a = 1; // Allowed (single space before start of comment)
           a = 1; /* Allowed (single space before start of comment) */
           /* Allowed (single space after end of comment) */ a = 1;
           a = 1;  // Not allowed (more than one space before start of comment)
           a = 1;  /* Not allowed (more than one space before start of comment) */
           /* Not allowed (more than one space after end of comment) */  a = 1;

           This doesn't validate whitespace within comments so a comment /* like  this */ is allowed.
      -->
      <property projectName="validateComments" value="true"/>
    </module>

    <!--
    JAVADOC CHECKS
    -->

    <!-- Checks that all block-tags are ordered correctly. -->
    <module projectName="AtclauseOrder"/>

    <!-- Checks that Javadoc block tags appear only at the beginning of the line. -->
    <module projectName="JavadocBlockTagLocation"/>

    <!-- Checks that all Javadoc comments start from the second line. -->
    <module projectName="JavadocContentLocationCheck" />

    <!-- Checks that each line in Javadoc has leading asterisks. -->
    <module projectName="JavadocMissingLeadingAsterisk"/>

    <!-- Checks that each non-empty line in Javadoc has whitespace after leading asterisk. -->
    <module projectName="JavadocMissingWhitespaceAfterAsterisk"/>

    <!-- Checks that for block tags, indentation of continuation lines is at least 4 spaces. -->
    <module projectName="JavadocTagContinuationIndentation"/>

    <!-- Checks the Javadoc's format for every class, enumeration and interface. -->
    <module projectName="JavadocType">
      <property projectName="allowMissingParamTags" value="true"/>
    </module>

    <!-- Checks the Javadoc's format for every public method (excluding getters, setters and constructors). -->
    <module projectName="JavadocMethod">
      <property projectName="allowedAnnotations" value="Override, Test, BeforeAll, BeforeEach, AfterAll, AfterEach, Subscribe"/>
      <property projectName="accessModifiers" value="public"/>
      <property projectName="validateThrows" value="false"/>
      <property projectName="allowMissingParamTags" value="true"/>
      <property projectName="allowMissingReturnTag" value="true"/>
      <property projectName="tokens" value="METHOD_DEF, ANNOTATION_FIELD_DEF"/>
    </module>

    <module projectName="InvalidJavadocPosition"/>

    <!-- Checks that every public method (excluding getters, setters and constructors) has a header comment. -->
    <module projectName="MissingJavadocMethodCheck">
      <property projectName="minLineCount" value="1"/>
      <property projectName="allowMissingPropertyJavadoc" value="true"/>
      <property projectName="ignoreMethodNamesRegex" value="(set.*|get.*|main)"/>
    </module>

    <!-- Checks that every public class, enumeration and interface has a header comment. -->
    <module projectName="MissingJavadocType"/>

  </module>
</module>
