---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.icon {
    height: 21px;
    width: 21px
}

.logo-site-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-site-logo img {
  height: 50px; /* Adjust the logo size as needed */
}

.logo-site-title {
  font-size: 2em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif; /* Example font for headers */
  color: #F06449;
}

p, li, a {
  font-family: 'Roboto', sans-serif; /* Example font for body text */
}

