#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-font-family: "Arial";
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: derive(#800000, 20%);
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: "Arial";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}


