/* ContactDisplay.css */

#scrollPane {
    -fx-background: #B5D4F5;
    width: 100%;
}

#scrollPane .viewport {
    -fx-background-color: #B5D4F5;
}

.vbox {
    -fx-padding: 20;
    -fx-background-color: #B5D4F5;
    -fx-border-color: #B5D4F5;
    -fx-font-family: 'Garamond';
    -fx-spacing: 20;
    width: 100%;
}

#contactHeader #contactBody {
    -fx-padding: 20;
    -fx-background-color: #B5D4F5;
    -fx-border-color: #B5D4F5;
    -fx-font-family: 'Garamond';
    -fx-spacing: 20;
}

.label {
    -fx-font-family: 'Garamond';
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

#helpLabel {
    -fx-font-family: monospace;
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

#nameLabel {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

#categoryLabel {
    -fx-text-fill: white;
    -fx-background-color: #EF7C00;
    -fx-padding: 5px 10px;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#tags {
    -fx-background-color: #e9b279;
    -fx-padding: 5px 10px;
    -fx-hgap: 15px;
    -fx-vgap: 15px;
    -fx-font-family: 'Garamond';
    -fx-alignment: center;
}

#tags .label {
    -fx-background-color: #EF7C00;
    -fx-padding: 5px 10px;
    -fx-hgap: 15px;
    -fx-vgap: 15px;
    -fx-font-family: 'Garamond';
    -fx-alignment: center;
}
