.background {
    -fx-background-color: derive(#fdf5f5, 20%);
    background-color: #fdf5f5; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}


.split-pane {
    -fx-background-color: #fdf5f5;
}

.list-view {
    -fx-background-insets: 0;
    -fx-background-color: #fdf5f5
}

.list-cell {
    -fx-label-padding: 0 10 10 0;
    -fx-border-radius: 5;
    -fx-graphic-text-gap : 5;
    -fx-padding: 5 2 5 2;
    -fx-background-color: #fdf5f5;
    -fx-background-radius: 5;
}

.list-cell:filled:even {
    -fx-border-color: derive(#757575, 90%);
    -fx-background-color: white;
}

.list-cell:filled:odd {
    -fx-border-color: derive(#757575, 90%);
    -fx-background-color: white;
}

.list-cell:filled:selected {
    -fx-background-color: #e8def8;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #e8def8;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: derive(#757575, -20%);
}

.cell_big_label {
    -fx-font-family: "Raleway Semibold";
    -fx-font-size: 24px;
    -fx-text-fill: derive(#757575, -50%);
}

.cell_small_label {
    -fx-font-family: "Raleway";
    -fx-font-size: 16px;
    -fx-text-fill: derive(#757575, -50%);
}

.card_big_label {
    -fx-font-family: "Raleway Black";
    -fx-font-size: 26px;
    -fx-text-fill: derive(#757575, -50%);
    -fx-padding: 8 0 5 0;
}

.card_small_label {
    -fx-font-family: "Raleway";
    -fx-font-size: 16px;
    -fx-text-fill: derive(#757575, -50%);
}

.stack-pane {
     -fx-background-color: #fdf5f5;
}

.split-pane .split-pane-divider {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-cursor: default;
}

.pane-with-border {
     -fx-background-color: #FDF5F5;
     -fx-border-color: #FDF5F5;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #F3EDF7;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #5B4A82;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #5B4A82;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

.context-menu {
    -fx-background-color: #F3EDF7;
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu {
    -fx-background-color: transparent;
}

.menu:hover {
    -fx-background-color: #D0BDF2;
}

.menu:selected {
    -fx-background-color: #D0BDF2;
}

.menu-item {
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: #D0BDF2;
}

.menu-item:selected {
    -fx-background-color: #D0BDF2;
}

.menu-bar {
    -fx-background-color: #F3EDF7;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #5B4A82;
    -fx-opacity: 0.9;
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #e8def8;
}

.scroll-bar .thumb {
    -fx-background-color: ffe7e7;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#inputContainer {
    -fx-background-color: #F3EDF7;
    -fx-padding: 5;
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
    -fx-border-color: derive(#757575, 90%);
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#sendButton {
    -fx-background-color: #E8DEF8;
    -fx-cursor: hand;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-font-size: 13pt;
}

/* Hover effect */
#sendButton:hover {
    -fx-background-color: #D0BDF2; /* Lighter shade when hovered */
}

/* Click (pressed) effect */
#sendButton:pressed {
    -fx-background-color: #B09BE1; /* Darker shade when clicked */
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #F2EDF6;
    -fx-background-radius: 10 10 0 0;
    -fx-border-radius: 10 10 0 0;
    -fx-border-color: derive(#757575, 90%);
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-margin-top: 10px;
    -fx-padding: 5 0 5 0;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #bc9feb;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 16;
}

#lessons {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-margin-top: 10px;
}

#lessons .label {
    -fx-text-fill: white;
    -fx-background-color: #88c1d0;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 16;
}

#remarks {
    -fx-spacing: 2;
    -fx-padding: 5 0 10 0;
}

#remarks .label {
    -fx-font-family: "Raleway";
    -fx-font-style: italic;
    -fx-font-size: 16px;
    -fx-text-fill: derive(#e8def8, -50%);
    -fx-background-color: #fdf5f5;
    -fx-padding: 3 5 3 5;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1;
}

#displayLessons {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-margin-top: 10px;

}
#displayLessons .label{
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-background-color: #88c1d0;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
}

#displayTags {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-margin-top: 10px;
    -fx-padding: 5 0 5 0;
}

#displayTags .label {
    -fx-background-color: #bc9feb;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 24;
}

.display-scroll-pane {
    -fx-background-color: transparent;
}

.student-information {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
}

.divider {
    -fx-background-color: derive(#757575, 90%);
    -fx-pref-height: 1;
    -fx-max-height: 1;
    -fx-min-height: 1;
}

.header-container {
    -fx-padding: 32px;
    -fx-background-color: white;
    -fx-border-color: derive(#757575, 90%);
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-width: 1 1 0 1;
}

.section-container {
    -fx-padding: 32px;
    -fx-background-color: white;
    -fx-border-color: derive(#757575, 90%);
    -fx-border-width: 0 1 0 1;
}

.bottom-container {
    -fx-padding: 32px;
    -fx-background-color: white;
    -fx-border-color: derive(#757575, 90%);
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 5 5;
    -fx-border-width: 0 1 1 1;
}

.section-heading {
    -fx-font-size: 32px;
    -fx-text-fill: #555555;
    -fx-font-weight: bold;
}

.label-heading {
    -fx-text-fill: #555555;
    -fx-font-size: 24px;
    -fx-opacity: 0.9;
    -fx-font-weight: bold;
}

.content-label {
    -fx-text-fill: #555555;
    -fx-font-size: 24px;
    -fx-opacity: 0.9;
}

.content-flow-pane {
    -fx-padding: 8px 0 0 0;
}

.content-flow-pane .label {
    -fx-padding: 6px 12px;
    -fx-text-fill: white;
}

.remarks-container {
    -fx-spacing: 8;
    -fx-padding: 10;
}

/* Style for each remark label with numbering */
.remarks-container .label {
    -fx-font-size: 24px;
    -fx-padding: 5 10;
}

#displayCardContainer {
    -fx-border-width: 1;
}
