.background {
    -fx-background-color: derive(#e0f2f1, 20%); /* light emerald green */
    background-color: #b2dfdb; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white; /* dark emerald green */
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #2e7d32; /* dark emerald green */
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.table-view {
    -fx-base: #e0f2f1; /* light emerald green */
    -fx-control-inner-background: #e0f2f1;
    -fx-background-color: #e0f2f1;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #2e7d32; /* dark emerald green */
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #66bb6a; /* medium emerald green */
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #b2dfdb; /* light emerald green */
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #2e7d32; /* dark emerald green */
}

.button:hover {
    -fx-background-color: #66bb6a; /* medium emerald green */
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #2e7d32; /* dark emerald green */
}

.button:default {
    -fx-background-color: #81c784; /* lighter emerald green */
    -fx-text-fill: #ffffff;
}

#personListPanelPlaceholder.list-cell .label {
    -fx-text-fill: #2e7d32; /* dark emerald green */
}

#commandTextField {
    -fx-background-color: transparent #b2dfdb transparent #b2dfdb;
    -fx-border-color: #66bb6a #66bb6a #66bb6a #66bb6a; /* medium emerald green */
    -fx-font-family: "Comfortaa";
    -fx-font-size: 13pt;
    -fx-text-fill: #2e7d32; /* dark emerald green */
    -fx-start-margin: 5;
    -fx-border-radius: 5;
    -fx-border-insets: 0 -5 0 0;
}
#personListView {
    -fx-border-radius: 10;
}

.menu-bar {
    -fx-radius: 30;
    -fx-background-color: #57a83f;
    -fx-padding: 0 20 0 0; /* Top, Right, Bottom, Left */
}

.menu-bar:hover {
    -fx-background-color: #6fc24a; /* Change this to your desired hover color */

}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Inter";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-font-family: Comfortaa;
    -fx-text-fill: white;
    -fx-background-color: #135b2d;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
#games {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#games .label   {
    -fx-font-family: Comfortaa;
    -fx-text-fill: white;
    -fx-background-color: #0B5B59;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 3;
    -fx-background-radius: 7;
    -fx-font-size: 11;
}

#preferredTimes {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#preferredTimes .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Inter";
    -fx-font-size: 15pt;
    -fx-text-fill: #0c2f00;
    -fx-border-color: #218600;
    -fx-border-color: #57a83f;
}
.pane-with-border {
    -fx-border-color: derive(#1d1d1d, 10%);
    -fx-border-width: 0px;
}
#personListPanel {
    -fx-border-radius: 10px;
}
.list-cell:even {
    -fx-background-color: rgb(9, 157, 120);
}

.list-cell:odd {
    -fx-background-color: #57a83f;
}



.command-field {
    -fx-background-color: black;
}

.pane-with-border {
    -fx-background-color: white;
    -fx-border-top-width: 1px;
}
