#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer, #commandSummary {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-control-inner-background: derive(#1d1d1d, 20%);
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
