.background {
    -fx-background-color: #ae8e75;
    background-color: #ae8e75; /* Used in the default.html file */
}

.root {
    -fx-background-color: #ae8e75; /*linear-gradient(to top, derive(#344969, 20%), #68b2a0);*/
}

/* Styles for archived delivery card and person card */
.card.archived {
    -fx-background-color: derive(#383838, 80%); /* Lighten the background */
    -fx-text-fill: derive(#555555, 50%); /* Darken the text color */
    -fx-opacity: 0.2; /* Make it less visible */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #344969;
    -fx-control-inner-background: #344969;
    -fx-background-color: #344969;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent transparent rgba(255, 255, 255, 0.4);
    -fx-border-width: 0 0 0 2;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-radius: 20;
    -fx-border-color: transparent;
    -fx-border-radius: 18;
    -fx-border-width: 2;
}

.list-cell:filled:even {
    -fx-background-color: transparent;
}

.list-cell:filled:odd {
    -fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: grey;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: transparent;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: white;
}

.stack-pane {
     -fx-background-color: transparent;
}

.pane-with-border {
     -fx-background-color: transparent;
     -fx-border-color: rgba(255, 255, 255, 0.4);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: grey;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: grey;
    -fx-border-color: rgba(255, 255, 255, 0.4);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: transparent;;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-background-color: grey;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: grey;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: grey;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #5e829a;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: grey;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: transparent;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: transparent;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: transparent;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.personInfoTitle {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-padding: 10 0 10 15;
}

.personInfo {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
    -fx-padding: 10 0 10 0;
}

#cardPane {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),
                                                     rgba(255, 255, 255, 0.45),
                                                     rgba(255, 255, 255, 0.4),
                                                     rgba(255, 255, 255, 0.35),
                                                     rgba(255, 255, 255, 0.3));
    -fx-background-radius: 20;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),
                                                     rgba(255, 255, 255, 0.45),
                                                     rgba(255, 255, 255, 0.4),
                                                     rgba(255, 255, 255, 0.35),
                                                     rgba(255, 255, 255, 0.3));
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-border-color: #6b3202 #6b3202 #ffffff #6b3202;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
}

#commandTextField:focused {
    -fx-prompt-text-fill: transparent;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: linear-gradient(to bottom, derive(#ae8e75, 50%),
                                                     derive(#ae8e75, 55%),
                                                     derive(#ae8e75, 50%),
                                                     derive(#ae8e75, 45%),
                                                     derive(#ae8e75, 40%));
    -fx-background-radius: 0;
    -fx-border-color: #6b3202 #6b3202 #ffffff #6b3202;
    -fx-border-width: 1;
    -fx-border-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: grey;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

#items {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#items .label {
    -fx-text-fill: white;
    -fx-background-color: #6e401a;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

#personInfoPlaceholder {
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),
                                                     rgba(255, 255, 255, 0.45),
                                                     rgba(255, 255, 255, 0.4),
                                                     rgba(255, 255, 255, 0.35),
                                                     rgba(255, 255, 255, 0.3));
    -fx-background-radius: 20;
    -fx-padding: 20 0 0 0;
}
