/* Variables */
* {
    main-background-color: #F7F7F2;
    odd-cell-color: #E7E8D8 ;
    even-cell-color: #CADABF;
    text-color: black;
    alternate-background-color: #EFEFE6;
    hover-color:  #789DBC;
    selected-color:  #789DBC; /*TODO*/
    secondary-color: #131A0F;
    scroll-bar-color: derive(#1d1d1d, 80%);
    default-radius: 10;

}

.root {
    -fx-background-color: main-background-color;
    -fx-text-fill: black;
    -fx-font-family: "Verdana";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#1d1d1d, 20%);
}

.list-view {
    -fx-padding: 0;
    -fx-background-color: main-background-color;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0;
    -fx-text-fill: text-color;
    -fx-border-width:4;
    -fx-border-radius: 10;
    -fx-border-color:transparent;
}
.list-cell #cardPane {
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.list-cell #cardPane.overdue_bar {
    -fx-border-width: 2;
    -fx-border-color: red;
}

.list-cell:filled:even #cardPane {
    -fx-background-color: even-cell-color;
}

.list-cell:filled:odd #cardPane {
    -fx-background-color: odd-cell-color;
}

.list-cell:filled:selected {
    -fx-border-color: selected-color;
    -fx-text-fill: text-color;
}

.cell_big_label {
    -fx-font-size: 18px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-size: 14px;
    -fx-text-fill: #010504;
}

.status-bar {
    -fx-background-color: secondary-color;
}
.result-display {
    -fx-font-size: 13pt;
    -fx-border-width: 0;
}

.status-bar .label {
    -fx-padding: 4px;
    -fx-pref-height: 30px;
    -fx-text-fill: alternate-background-color;
    -fx-font-size: 14px;
}

.grid-pane {
    -fx-border-color: derive(#1d1d1d, 30%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Verdana";
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-font-family: "Verdana", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: red;
}

.button:pressed, .button:default:hover:pressed {
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-text-fill: white;
}

.button:default {
    -fx-text-fill: #ffffff;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: 400;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
}

.scroll-bar {
    -fx-background-color: main-background-color;
}

.scroll-bar .thumb {
    -fx-background-color: scroll-bar-color;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#commandTextField {
    -fx-border-width: 1;
    -fx-font-family: "Verdana";
    -fx-font-size: 13pt;
    -fx-text-fill: text-color;
    -fx-outline: null;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#commandTextField:focused {
    -fx-background-color: white;
    -fx-border-color: gray;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: alternate-background-color;
    -fx-border-width: 1;
    -fx-border-color: gray;
}

#resultDisplay:focused {
    -fx-background-color: alternate-background-color;
    -fx-border-color: gray;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #4682b4;
    -fx-padding: 2 6 2 6;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-font-size: 13;
}

#paymentStatus {
    -fx-background-radius: 9.4;
    -fx-padding: 3 7 3 7;
    -fx-min-width: 21px;
    -fx-min-height: 20px;
    -fx-alignment: center;
    -fx-font-size: 1.1em;
    -fx-text-fill: black;
    -fx-font-weight: 300;
}

#paymentStatus:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;

}

.tooltip {
    -fx-font-size: 1.15em;
    -fx-background-color: secondary-color;
    -fx-text-fill: white;
    -fx-padding: 5;
}

.payment_status_pending {
    -fx-background-color: #ffa500;
}

.payment_status_late {
    -fx-background-color: #cd5c5c;
}

.payment_status_paid {
    -fx-background-color: #59ac59;
}

.payment_status_partial {
    -fx-background-color: #ffd700;
}

.name_label  {
    -fx-font-size: 20px;
    -fx-text-fill: text-color;
    -fx-padding: 0 10 0 0;
    -fx-font-weight: normal;
}

.short-vertical-line {
    -fx-width: 2px;
    -fx-height: 75%;
    -fx-fill: black;
}

.deadline_label {
    -fx-font-size: 16px;
    -fx-text-fill: text-color;
}

.project_status_label {
    -fx-font-size: 16px;
}

.overdue_label {
    -fx-font-size: 16px;
    -fx-text-fill:  #cd5c5c;
}
