.displayed-list-container {
    -fx-padding: 0 0 0 0;
}

.displayed-list-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-padding: 8;
    -fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-radius: 8;
    -fx-background-color: #e9e9e9;
}
