
.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: white;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}

.attendance_card {
    -fx-background-color: #F3F8FB;
    -fx-background-radius: 5;
    -fx-padding: 8;
}

#otherAttendance {
    -fx-text-fill: #4C4C4C;
    -fx-font-size: 12;
    -fx-padding: 7 0 5 0;
}
