
.error {
    -fx-text-fill: #d06651 !important;
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #104892;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}
