.error {
    -fx-text-fill: #d06651 !important; /* Error color: a distinct red for error messages */
}

.list-cell:empty {
    /* Empty cells will not have alternating colors */
    -fx-background-color: #141a21; /* Matches the dark background theme */
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: #141a21; /* Teal color to match the theme */
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-background-color: transparent; /* Transparent background to blend with dark theme */
}

.tooltip-text {
    -fx-text-fill: white; /* White text for clear readability on tooltips */
}

