@font-face {
    font-family: Poppins;
    src: url('Poppins-Regular.ttf');
}

.error {
    -fx-text-fill: #d06651 !important; /* The error class should always override the default text-fill style */
    -fx-font-family: "Poppins";
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
    -fx-font-family: "Poppins";
}
