
.header-label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #e0e0e0;
}

.grid-pane {
    -fx-background-color: #2b2b2b;
    -fx-padding: 1;
}

.field-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #bbbbbb;
}

.value-label {
    -fx-font-size: 16px;
    -fx-text-fill: #e0e0e0;
}

.roles-pane,
.tags-pane,
.caregivers-pane,
.patients-pane,
.notes-pane,
 .appointments-pane{
    -fx-padding: 5 0 5 0;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.caregivers-pane .label {
    -fx-text-fill: white;
    -fx-background-color: #ecb500;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 16;
}

.patients-pane .label {
    -fx-text-fill: white;
    -fx-background-color: #ecb500;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 16;
}

.roles-pane .label {
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 16;
}

.notes-pane .noteLabel {
    -fx-font-family: "Consolas";
    -fx-padding: 3 5 3 5;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}
.appointments-pane .appointmentLabel {
    -fx-padding: 3 5 3 5;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
}
