#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#members {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#members .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}
#groupWindowContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}