.root {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#copyButton {
    -fx-background-color: dimgray;
    -fx-text-fill: white;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageArea {
    -fx-background-color: derive(#1d1d1d, 20%);
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-font-size: 14px;
}

#helpMessageArea .content {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#helpMessageArea:focused .content {
    -fx-background-color: derive(#1d1d1d, 20%);
}
