#copyButton, #helpMessage, #featureIntroduction {
    -fx-text-fill: white;
}

#featureIntroduction {
    -fx-font-size: 20;
}

#featureIntroduction, #addFeatureHeader, #editFeatureHeader, #deleteFeatureHeader {
    -fx-font-weight: bold;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
