@font-face {
    font-family: Poppins;
    src: url('Poppins-Regular.ttf');
}

#copyButton, #helpMessage {
    -fx-text-fill: white;
    -fx-font-family: "Poppins";
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
