#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: grey;
    -fx-text-fill: white;
}

#copyButton:hover {
    -fx-background-color: -fx-focus-color;
}

#copyButton:armed {
    -fx-background-color: #74a1b6;
}

#helpMessageContainer {
    -fx-background-color: #ae8e75;
}
