#helpMessage{
    -fx-text-fill: black;
}

#copyButton {
    -fx-text-fill: white;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-weight: bold;
    -fx-background-color: #a232ea;
}


#copyButton:hover {
    -fx-background-color: #570987;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: #ffffff;
}

#moreInfoContainer {
    -fx-background-color: #ffffff;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-min-height: 80;
}

.helpMessageWrapper{
    -fx-background-color: #dedede;
    -fx-min-height: 5;
    -fx-min-width: 100;
    -fx-content-display: CENTER;
    -fx-alignment: CENTER;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 15;

}

.commandContainer {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.headerLabel {
/*-fx-font-family: "Segoe UI Semibold";*/
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 20px;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.commandLabel {
    -fx-font-family: "Andale Mono";
    -fx-font-size: 15px;
    -fx-text-fill: black;
}

.commandWrapper {
    -fx-background-color: #f5f5f5;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-pref-width: 300;
    -fx-pref-height: 100;
}
