.background {
    -fx-background-color: #FFFFFF;
    background-color: #F1ECE6; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #d9d9d9;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent transparent transparent #AAAAAA;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #FFFFFF;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #FFFFFF;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #f5f5f5;
}

.list-cell:filled:odd {
    -fx-background-color: #FFFFFF;
}

.list-cell:filled:selected {
    -fx-background-color: #E6F5FE;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #BADBE6;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

/* Default styling for status label */
.status-label {
    -fx-padding: 3px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 13px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Pending status: orange */
.status-pending {
    -fx-background-color: orange;
}

/* Accepted status: green */
.status-accepted {
    -fx-background-color: green;
}

/* Rejected status: red */
.status-rejected {
    -fx-background-color: red;
}

.stack-pane {
     -fx-background-color: #ffffff;
}

.pane-with-border {
     -fx-background-color: #F1ECE6;
     -fx-border-color: #D3D3D3;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #ffffff;
}

.result-display {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E8B600;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #ffffff;
}

.context-menu {
    -fx-background-color: #F1ECE6;
}

.context-menu .label {
    -fx-text-fill: white;
}


.menu-bar {
    -fx-background-color: #F1ECE6; /* Background color for MenuBar */
}

.menu-bar .menu-item {
    -fx-text-fill: black; /* Text color for MenuItems */
}

.menu:hover, .menu:showing{
  -fx-background-color: derive(#F1ECE6, -10%);

}

/* Override the default styling to prevent bright blue */
.menu-item:focused {
    -fx-background-color: derive(#F1ECE6, -10%); /* Background color for focused MenuItem */
    -fx-text-fill: black; /* Ensure text color is black when focused */
}


.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #F1ECE6;
}


/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #AAAAAA;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #d9d9d9;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #D9D9D9;
  -fx-text-fill: #aaaaaa;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-background-color: #D9D9D9;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #d9d9d9;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.button:default:hover {
    -fx-background-color: #D9D9D9;
}

.dialog-pane {
    -fx-background-color: #ffffff;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #ffffff;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #ffffff;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: #D9D9D9;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#D9D9D9, -30%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-border-radius: 5;
    -fx-padding: 7;

}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #F1ECE6 transparent #F1ECE6;
    -fx-background-insets: 0;
    -fx-border-color: #D3D3D3 #D3D3D3 #ffffff #D3D3D3;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #ffffff, transparent, #ffffff;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
