.background {
<<<<<<< HEAD
    -fx-background-color: derive(#ffffff, 20%);
    background-color: #F1F8E8; /* Used in the default.html file */
=======
    -fx-background-color: derive(#FEFAE0, 20%);
    background-color: #FEFAE0; /* Used in the default.html file */
>>>>>>> master
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #BED7DC;
    -fx-control-inner-background: #BED7DC;
    -fx-background-color: #BED7DC;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #CCD5AE;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#CCD5AE, 20%);
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #CCD5AE;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #CCD5AE;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #E5DDC5;
}

.list-cell:filled:odd {
    -fx-background-color: #F0EBE3;
}

.list-cell:filled:selected {
    -fx-background-color: #D8EFD3;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #BED7DC;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
    -fx-background-color: derive(#F1F8E8, 20%);
}

.pane-with-border {
    -fx-background-color: derive(#F1F8E8, 20%);
    -fx-border-color: derive(#F1F8E8, 10%);
    -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#F1F8E8, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#F1F8E8, 30%);
    -fx-border-color: derive(#F1F8E8, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: derive(#F1F8E8, 30%);
    -fx-border-color: derive(#F1F8E8, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#F1F8E8, 30%);
}

.context-menu {
    -fx-background-color: derive(#F1F8E8, 50%);
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: #BFD8AF;
}

.menu:hover {
    -fx-background-color: #86AB89;
}

.menu:selected, menu:pressed, menu:selected, menu:disabled {
    -fx-background-color: #99BC85; /* Background color when pressed */
    -fx-text-fill: black; /* Text color when pressed */
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #F1F8E8;
}

.menu-item {
    -fx-background-color: #86AB89; /* Default background color */
    -fx-text-fill: white; /* Text color */
}

.menu-item:hover {
    -fx-background-color: #86AB89; /* Background color on hover */
    -fx-text-fill: white; /* Text color on hover */
}

.menu-item:pressed, .menu-item:armed, .menu-item:focused, .menu-item:selected {
    -fx-background-color: #75A47F; /* Background color when pressed */
    -fx-text-fill: white; /* Text color when pressed */
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #798f95;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #B3C8CF;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: #F1EEDC, #F1EEDC;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #F1F8E8;
    -fx-text-fill: black;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #F1F8E8;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #F1F8E8;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#F1F8E8, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: black;
    -fx-text-fill: black;
}

.scroll-bar {
    -fx-background-color: derive(#FFF0D1, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#795757, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #F1F8E8 transparent #F1F8E8;
    -fx-background-insets: 0;
    -fx-border-color: transparent transparent black transparent;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #F1F8E8, transparent, #F1F8E8;
    -fx-background-radius: 0;
    -fx-border-color: black;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: black;
    -fx-background-color: #BC9F8B;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.contact_type_label {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-padding: 1 3 1 30;
    -fx-margin-left: 10px;
}

.contact_type_label.label {
    -fx-text-fill: black;
    -fx-background-color: #BFD8AF;
    -fx-border-color: #BFD8AF;
    -fx-padding: 1 10 1 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
}
