.background {
    -fx-background-color: #f4f4f4;
    background-color: #ffffff;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #333333;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #333333;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #ffffff;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: #e0e0e0;
    -fx-table-header-border-color: #e0e0e0;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #f0f0f0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            #c0c0c0
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #333333;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: #e0e0e0;
    -fx-border-color: transparent transparent transparent #c0c0c0;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: #ffffff;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #f8f8f8;
}

.list-cell:filled:odd {
    -fx-background-color: #ffffff;
}

.list-cell:filled:selected {
    -fx-background-color: #e0e0e0;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: #333333;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.pane {
    -fx-background-color: #ffffff;
}

.stack-pane {
    -fx-background-color: #ffffff;
}

.pane-with-border {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-top-width: 1px;
}

.pane-with-person-info {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}


.search-bar {
    -fx-background-color: derive(#ffffff, 80%);
    -fx-border-color: derive(#000000, 30%);
    -fx-border-top-width: 2px;
    -fx-text-fill: black;
}

.status-bar {
    -fx-background-color: #f0f0f0;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #333333;
}

.result-display .label {
    -fx-text-fill: #333333 !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #333333;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #333333;
}

.grid-pane {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #ffffff;
}

.context-menu {
    -fx-background-color: #f0f0f0;
}

.context-menu .label {
    -fx-text-fill: #333333;
}

.menu-bar {
    -fx-background-color: #f0f0f0;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #333333;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #ffffff;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #333333;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #e0e0e0;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
}

.button:focused {
    -fx-border-color: #333333, #333333;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #ffffff;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #ffffff;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: #f0f0f0;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #333333;
    -fx-text-fill: #333333;
}

.scroll-bar {
    -fx-background-color: #f0f0f0;
}

.scroll-bar .thumb {
    -fx-background-color: #c0c0c0;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #2196F3;
}

#commandTextField {
    -fx-background-color: transparent #ffffff transparent #ffffff;
    -fx-background-insets: 0;
    -fx-border-color: #ffffff #ffffff #333333 #ffffff;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #333333;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, #e0e0e0, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #ffffff, transparent, #ffffff;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: #ffffff;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 5;
    -fx-border-color: #3e7b91;
    -fx-background-radius: 5;
    -fx-font-size: 11;
}

#notes-label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #333333;
    -fx-opacity: 1;
}

#notes-header {
    -fx-font-size: 25pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #333333;
    -fx-opacity: 1;
}

.pinned-person-item {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 1px;
    -fx-max-width: 180;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.error {
    -fx-text-fill: #d32f2f !important;
}

.list-cell:empty {
    -fx-background: #ffffff;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: #333333;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: #333333;
}
