.background {
    -fx-background-color: derive(#f5f5f5, 20%);
    background-color: #ffffff;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #333333;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #007BFF;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #007BFF;
    -fx-opacity: 1;
}

/* Text field styling */
.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #ffffff;
    -fx-border-color: #007BFF;
    -fx-text-fill: #333333;
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}


.table-view {
    -fx-base: #f5f5f5;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        #007BFF
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #007BFF;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #e0f7fa;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#f5f5f5, 20%);
    -fx-border-color: transparent transparent transparent #007BFF;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#f5f5f5, 20%);
}

/* List view styling */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#f5f5f5, 20%);
}

.list-cell {
    -fx-graphic-text-gap : 0;
    -fx-margin: 10px;
}

.list-cell:filled:even {
    -fx-background-color: white;
}

.list-cell:filled:odd {
    -fx-background-color: white;
}

.list-cell:filled:selected {
    -fx-background-color: #007BFF;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #0056b3;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: #333333;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #007BFF;
    -fx-font-weight: bold;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
}

.tag_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
}

.bold-text {
    -fx-font-weight: bold;
}

.stack-pane {
     -fx-background-color: derive(#f5f5f5, 20%);
}

.student-pane {
     -fx-background-color: #33daff;
     -fx-border-radius: 0;
     -fx-border-width: 1px;
     -fx-border-color: #33daff;
     -fx-background-insets: 0;
     -fx-padding: 1px;
}

.tutor-pane {
     -fx-background-color: #ffa233;
     -fx-border-radius: 0;
     -fx-border-width: 1px;
     -fx-border-color: #ffa233;
     -fx-background-insets: 0;
     -fx-padding: 1px;
}
.pane-with-border {
     -fx-background-color: #33daff;
     -fx-border-radius: 0;
     -fx-border-width: 1px;
     -fx-border-color: #33daff;
     -fx-background-insets: 0;
     -fx-padding: 1px;


}

.status-bar {
    -fx-background-color: derive(#f5f5f5, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #333333;
}

.result-display .label {
    -fx-text-fill: #333333 !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #007BFF;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#f5f5f5, 30%);
    -fx-border-color: #007BFF;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #007BFF;
}

.grid-pane {
    -fx-background-color: derive(#f5f5f5, 30%);
    -fx-border-color: #007BFF;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#f5f5f5, 30%);
}

.context-menu {
    -fx-background-color: derive(#f5f5f5, 50%);
}

.context-menu .label {
    -fx-text-fill: #333333;
}

.menu-bar {
    -fx-background-color: derive(#f5f5f5, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #007BFF;
    -fx-opacity: 0.9;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #007BFF;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: #007BFF;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #e0f7fa;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #007BFF;
  -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: #0056b3, #0056b3;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #f5f5f5;
    -fx-text-fill: #007BFF;
}

.button:default {
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
}

.button:default:hover {
    -fx-background-color: derive(#007BFF, 30%);
}

.dialog-pane {
    -fx-background-color: #ffffff;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #ffffff;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #007BFF;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#f5f5f5, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #007BFF;
    -fx-text-fill: #007BFF;
}

/* Scroll bar styling */
.scroll-bar {
    -fx-background-color: derive(#f5f5f5, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#007BFF, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.custom-menu-bar {
    -fx-background-color: transparent;
    -fx-padding: 0;
}


.custom-menu {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}


.custom-menu-bar .menu {
    -fx-border-color: transparent;
    -fx-effect: null;
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.custom-menu-bar .menu .label {
    -fx-background-color: #5bc0de;
    -fx-text-fill: white;
    -fx-padding: 5px 15px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #5bc0de;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-effect: null;
}

.custom-menu-bar .menu .label:hover {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: #d3d3d3;
    -fx-cursor: hand;
}


.custom-menu .menu-item {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.custom-menu-button {
    -fx-background-color: #5bc0de;
    -fx-text-fill: white;
    -fx-padding: 5px 15px;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #5bc0de;
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
}

.custom-title {
    -fx-font-size: 20px;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 15px
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-color: #007BFF;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
}


#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #007BFF;
}

#commandTextField {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-color: #007BFF;
    -fx-border-width: 1;
    -fx-border-radius: 5px;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #333333;
}


#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #007BFF; /* Blue background for tags */
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
