#copyButton, #helpMessage {
    -fx-text-fill: #2c3e50;
}

#copyButton {
    -fx-background-color: #f2f6fa;
    -fx-border-color: #cfd8dc;
    -fx-border-radius: 0;
}

#copyButton:hover {
    -fx-background-color: #e6f2ff;
}

#copyButton:armed {
    -fx-background-color: #d2e9ff;
}

#helpMessageContainer {
    -fx-background-color: #f0f4f8;
    -fx-border-color: #cfd8dc;
    -fx-border-radius: 0;
}
