#contactLists {
    -fx-padding: 0 0 7 0;
    -fx-border-insets: 0 0 7 0;
    -fx-background-insets: 0 0 7 0;
}

#guestList, #vendorList {
    -fx-background-color: #F0A89F;
    -fx-background-radius: 10;
    -fx-background-insets: 10;
    -fx-border-color: #6c4b47;
    -fx-border-insets: 10;
    -fx-border-width: 2.35;
    -fx-border-radius: 10;
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

#commandBoxPlaceholder {
    -fx-background-color: transparent;
}
