#menuBar {
    -fx-background-color: #F0A89F;
    -fx-padding: 0 0 1 8;
    -fx-border-insets: 0 0 1 0;
    -fx-background-insets: 0 0 1 0;
}

#helpButton, #exitButton {
    -fx-background-color: transparent;
    -fx-font-size: 14pt;
    -fx-font-family: "Inter";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
    -fx-padding: 4 10 4 10;
}

.button {
  -fx-content-display: center;
}

#helpButton:hover, #exitButton:hover {
     -fx-background-color: #FAE4E1;
     -fx-background-radius: 0;
}
