.split-pane-divider {
   -fx-background-color: transparent;
}

.background {
    -fx-background-color: #0b0f14;
    background-color: #0b0f14;/* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "PT Serif";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "PT Serif";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "PT Serif Bold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "PT Serif Bold";
}

table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "PT Serif";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.list-cell .cell_big_label {
    -fx-text-fill: white;
    -fx-font-size: 14pt;
}

.list-cell .cell_small_label {
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.cell_big_label {
    -fx-font-family: "PT Serif";
    -fx-font-size: 20px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "PT Serif";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.result-display {
    -fx-background-color: #141a21;
    -fx-font-family: "PT Serif";
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "PT Serif";
    -fx-text-fill: white;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: derive(#141a21, 20%);
    -fx-border-color: transparent;
}

.menuItem:hover {
    -fx-background-color: derive(#141a21, 60%);
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #141a21;
}

.menu .left-container {
    -fx-background-color: #141a21;
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "PT Serif";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
    padding: 10px;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #141a21;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "PT Serif, sans-serif";
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #141a21;
  -fx-text-fill: white;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #141a21;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #141a21;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: #141a21;
    -fx-background-insets: 0;
    -fx-border-color: #141a21 #141a21 #ffffff #141a21;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "PT Serif";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #141a21;
    -fx-border-color: derive(#141a21, 50%);

}

.list-cell:filled:odd {
    -fx-background-color: #141a21;
    -fx-border-color: derive(#141a21, 50%);
}

.list-cell:filled:selected {
     -fx-background-color: #141a21;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #ffffff;
    -fx-border-width: 1;
    -fx-background-color: derive(#141a21, 50%);
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #141a21;
    -fx-background-radius: 0;
}

.scroll-bar {
    -fx-background-color: derive(#141a21, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#141a21, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: derive(#141a21, 20%);
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.menu .menu-item:selected {
    -fx-background-color: derive(#141a21, -20%);
    -fx-text-fill: white;
}

.menu .menu-item:hover {
    -fx-background-color: derive(#141a21, 80%);
    -fx-text-fill: white;
}

.menu .menu-item:focused {
    -fx-background-color: derive(#141a21, 80%);
    -fx-text-fill: white;
}

.summary-list-cell {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; /* Set your preferred text color */
    -fx-background-color: #333333; /* Set background color for cell */
    -fx-padding: 10px;
    -fx-border-color: #555555; /* Optional border for the cell */
    -fx-border-width: 1px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

