#contentContainer, #contentContainer * {
    -fx-background-color: #f8d3ca;
    -fx-background-radius: 10;

}

#cardPaneContents {
    -fx-padding: 7;
}

#contentContainer .scroll-bar {
    -fx-opacity: 0;
    -fx-pref-width: 1;
    -fx-max-width: 0;
    -fx-min-width: 0;
    -fx-cursor: null;
}

#contentContainer {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

#contentContainer > .viewport {
    -fx-background-color: transparent;
}


#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-padding: 1.5 0 7 0;
    -fx-background-insets: 1.5 0 7 0;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.cell_big_label {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
}

.cell_small_label {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
}
