
#titleLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 40px;
    -fx-text-fill: #FDF3F2;
    -fx-stroke-width: 1px;
}

#personListView {
    -fx-padding: 10 0 0 0;
    -fx-background-color: #F0A89F;
}

.separator {
    -fx-padding: 0 8 0 0;
}

.list-view {
    -fx-background-color: #F0A89F;
}

.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-width: 0;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 8 15 0;
    -fx-background-insets: 0 8 15 0;
    -fx-border-insets: 0 8 15 0;
    -fx-border: 1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-background-color: #F0A89F;
}

.list-cell:filled {
    -fx-background-color: #F5C6C0;
}

.list-cell:filled:selected {
    -fx-background-color: #F7D5D1;
    -fx-border-color: #913E3E;
}

.list-cell .label {
    -fx-text-fill: black;
}
