#titleLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 40px;
    -fx-text-fill: #FEFAF9;
    -fx-stroke-width: 1px;
    -fx-padding: 5 0 0 0;
}

#personListView {
    -fx-background-color: #F0A89F;
}

.separator {
    -fx-padding: 0 10 10 12;
}

.separator *.line {
    -fx-border-color: #FEF7F7;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.list-view {
    -fx-background-color: #F0A89F;
    -fx-padding: 0 10 5 8;
    -fx-background-insets: 0 10 5 8;
    -fx-border-insets: 0 10 5 8;
}

.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-width: 0;
    -fx-cursor: null;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 15 0;
    -fx-background-insets: 0 0 15 0;
    -fx-border-insets: 0 0 15 0;
    -fx-border-width: 2;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: transparent;
    -fx-background-color: #F0A89F;
}

.list-cell:filled {
    -fx-background-color: #f8d3ca;
}

.list-cell:filled:selected {
    -fx-background-color: #f8d3ca;
    -fx-border-color: #913E3E;
}

.list-cell .label {
    -fx-text-fill: black;
}
