.vbox {
    -fx-background-color: #e5eaf2; /* Set the background color of the VBox */
}

.list-view {
    -fx-background-color: #e5eaf2; /* Match the VBox background color */
    -fx-control-inner-background: transparent; /* Ensures the ListView background blends in */
}

.list-cell {
    -fx-background-color: transparent; /* Make each cell background transparent */
    -fx-padding: 2 10 7 10;
}

.scroll-bar:vertical {
    -fx-background-color: transparent; /* Remove background if needed */
    -fx-pref-width: 15px;  /* Set width of the scrollbar */
}
