#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.cell_big_label {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
}

.cell_small_label {
    -fx-font-family: "Arial";
    -fx-font-size: 13px;
}
