.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
    -fx-padding: 8 0 8 0;
}

.result-display .label {
    -fx-text-fill: black !important;
}