.chart-container {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 5);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}