.background {
    -fx-background-color: derive(#f0f0f0, 20%);
    background-color: #ffffff;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #777777;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #007bff;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #007bff;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #f0f0f0;
    -fx-control-inner-background: #ffffff;
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #007bff;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#f0f0f0, 20%);
    -fx-border-color: transparent transparent transparent #ff7700;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#f0f0f0, 20%);
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: derive(#f0f0f0, 20%);
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #f9f9f9;
}

.list-cell:filled:odd {
    -fx-background-color: #f0f0f0;
}

.list-cell:filled:selected {
    -fx-background-color: #d0d0d0;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #ff7700;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: #007bff;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #333333;
}

.stack-pane {
    -fx-background-color: #ffffff;
}

.pane-with-border {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: derive(#f0f0f0, 30%);
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #007bff;
}

.result-display .label {
    -fx-text-fill: #333333 !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #007bff;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#f0f0f0, 30%);
    -fx-border-color: derive(#f0f0f0, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: #007bff;
}

.grid-pane {
    -fx-background-color: derive(#f0f0f0, 30%);
    -fx-border-color: derive(#f0f0f0, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#f0f0f0, 30%);
}

.context-menu {
    -fx-background-color: derive(#f0f0f0, 50%);
}

.context-menu .label {
    -fx-text-fill: #007bff;
}

.menu-bar {
    -fx-background-color: derive(#f0f0f0, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #007bff;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #f0f0f0;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #cccccc;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #333333;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #e0e0e0;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
}

.button:focused {
    -fx-border-color: #007bff, #007bff;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #f0f0f0;
    -fx-text-fill: #007bff;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ff7700;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #f0f0f0;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #f0f0f0;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #007bff;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#f0f0f0, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #007bff;
    -fx-text-fill: #007bff;
}

.scroll-bar {
    -fx-background-color: derive(#f0f0f0, 20%);
}

.scroll-bar .thumb {
    -fx-background-color: derive(#cccccc, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent #f0f0f0 transparent #f0f0f0;
    -fx-background-insets: 0;
    -fx-border-color: #cccccc #cccccc #ff7700 #cccccc;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #007bff; /* No change */
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, #cccccc, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, #f0f0f0, transparent, #f0f0f0;
    -fx-background-radius: 0;
}

#events {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#events .label {
    -fx-text-fill: #333333;
    -fx-background-color: #ff7700;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
