/* Theme colors */
.root {
    -fx-bg: #fff;
    -fx-text: #000;
    -fx-primary: #FFBF61;
    -fx-secondary: #E9EED9;
    -fx-secondary-bg: #FEF9F2;
    -fx-focus: derive(-fx-primary, -40%);
    -fx-link: #3e7b91;
    -fx-error: #d06651;
    -fx-valid-command: #aaaba4;
}
